---
layout: default
---

<div class="search">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <script type="text/javascript">
  function searchURL(){
    var query = document.getElementById("searchtxt").value;
    window.location = "https://duckduckgo.com/html/?q=" + encodeURIComponent(query) + "%20site:starrridgehoa.org";
  }
  function clickPress(event){
    if (event.key == "Enter"){
        searchURL();
    }
  }
  </script>
  <p class=""><input name="searchtxt" type="text" maxlength="512" id="searchtxt" class="searchfield" onkeypress="clickPress(event)"/><button class="searchbtn" onclick="searchURL()">Search</button></p>

</div>
